.landing-container {
    color: black;
   
}

.landing-background {
    height: 100vh;
    //width: 100%;
    background-color: #FCE21C;
    padding: 4rem;
    font-family: "Darker Grotesque", sans-serif;

    h1 {
        font-family: "Darker Grotesque", sans-serif;
        font-weight: 600;
        font-size: 8rem;
        text-align: right;
        margin-left: 25%;
    }

    h2, h3 {
        text-align: center;
    }

    h2 {
        font-size: 6rem;
        margin-top: 6rem;
    }
    h3 {
        font-weight: 600;
        font-size: 4rem;
        margin: 1rem;
    }
  }

.quote-container {
    display: flex;
    justify-content: center;

    margin: 8rem 0;

    .quote {
        font-family: 'Montaga', serif;
        //padding: 4rem 4rem;
        max-width: 800px;
        h1 {
            font-size: 2rem;
            line-height: 3rem;
            margin-bottom: 1rem;
    
        }

}
.quote-source {
    right: 0;
    text-align: right;
    h2 {
        font-size: 1.4rem;
    }
}

}

.person-container {
    height: 2rem;
    width: 17rem;
    color: white;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;
}

.section-container {

    margin: 4rem 0;

    h2 {
        margin-right: 4rem;
    }

    h3 {
        margin-bottom: 1rem;
    }
}

.resource-container:first-child {
    margin-top: 11rem;
}

.resource-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .resource-section {
        width: 50%;
        //height: 3rem;
        //margin-right: 1rem;

        h4 {
            margin-right: 2rem;
        }

    }
}

.organization-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3 {
        width: 50%;
        margin-bottom: 4rem;
    }
}

.social-group {
    width: 50%;
    padding-top: 0.25rem;

    //padding-left: 2rem;

    .social-target {
        text-decoration: none;
        border-bottom: none;
        margin-right: 1rem;
    }

    .social-target:hover > svg {
        transform: translateY(-0.125rem);
        //transform: scale(0.9925);
    }
    
    .social-icon {
        height: 1.5rem;
        fill: #FCE21C;
        text-decoration: none;
    }

    .social-target:first-child {
        padding-left: 2rem;
    }
}



.arrow-container {
    text-align: center;
    margin-top: 4rem;
    //bottom: calc(100vh - calc(100vh*0.15));
}



@-webkit-keyframes moveUpDown {
    0% { transform: translateY(+16px); }
    50% { transform: translateY(-16px);}
    100% { transform: translateY(+16px);}
}

.arrow-icon {
    height: 6rem;
    fill: black;
    animation-name: moveUpDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: cubic-bezier(0,.86,.75,.67);
}



.button-section {
    background-color: #28282B;
    padding: 0 18%;
    font-family: "Darker Grotesque", sans-serif;

    h2 {

        font-weight: 600;
        font-size: 4rem;
        line-height: 5rem;
        padding-top: 8rem;
    }

    .button-group {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4rem 0 8rem 0;
    
        font-family: "Darker Grotesque", sans-serif;

        a {
            width: calc(calc(50%) - 1rem);
            margin-bottom: 2rem;
            text-decoration: none;
        }
    
        .button {
            height: 0;
            overflow: hidden;
            padding-top: 56.25%;
            position: relative;


            background-color: #FCE21C;
            color: #111;
            border-radius: 5px;
            box-shadow: 0.5rem 0.5rem 0.5rem black;
    
            .button-label {
                font-family: "Darker Grotesque", sans-serif;
                padding: 1.5rem 1.5rem 0 0;
                text-align: right;

                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
    
                h3 {
                    font-weight: 600;
                    font-size: 3rem;
                    padding-left: 10vw;
                    //line-height: rem;
                }
            }
        }

        .button:hover {
            transform: scale(0.9925);
        }
    }
}

.landing-section {
    margin: 8rem 0;
}

.name-header {
    margin-bottom: 4rem;
}

.resource-item {

    padding-bottom: 2rem;
    .related-text {
        margin-top: 0.5rem;
    }
}


@media(max-width: 1600px){
    .button-section {
        //margin: 0 13rem;
        padding: 0 10%;
    }
}

@media(max-width: 1280px){
    .button-section {
        .button-group {
            .button {

                .button-label {

                    h3 {
                        padding-left: 6vw;
                    }   
                }
            }
        }
    }

}

@media(max-width: 1024px) {

    .button-section {
        h2 {
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }

}

@media(max-width: 840px){
    .resource-grid {
        .resource-section {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .resource-container:first-child {
        margin-top: 9rem;
    }

    .landing-background {
        h1 {
            margin-left: 10%;
        }
    }

    .section-container {

        margin: 4rem 0;

        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-right: 0;
        }


    }

    .landing-section {
        margin: 4rem 0;
    }

    .name-header {
        margin-bottom: 2rem;
    }

    .button-section {

        h2 {
           padding-top: 4rem;
           font-size: 2rem;
           line-height: 2.5rem;
        }

        .button-group {
            padding: 2rem 0 4rem 0;

            a {
                width: calc(calc(50%) - 0.5rem);
                margin-bottom: 1rem;
            }

            .button {
                //min-height: 9rem;

                .button-label {
                    padding: 2vw 2vw 0 0;

                    h3 {
                        font-size: 2rem;
                        padding-left: 6vw;
                    }   
                }
            }
        }
    }


}

@media(max-width: 600px){
    .landing-background {
        height: 95vh;
        background-color: #FCE21C;
        padding: 1rem;

        h1 {
            font-size: 4.5rem;
        }

        h2 {
            font-size: 1.75rem;
            margin-top: 4rem;
        }

        h3 {
            font-size: 2rem;
        }
    }

    .arrow-container {
        margin-top: 2rem;
    }

    .button-section {    
        padding: 0 1rem;

        h2 {
            //padding-top: 4rem;
        }

        .button-group {
        
            .button {
        
                .button-label {
                    padding: 3vw 3vw 0 0;
                    h3 {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
    

    .organization-section {

        h3 {
            width: 50%;
        }
    }
    
    .social-group {
        width: 50%;
    }


}

@media(max-width: 350px){
    .organization-section {

        h3 {
            width: 40%;
        }
    }
    
    .social-group {
        width: 60%;
    }

}

@media(max-height: 500px) {

}

