.footer-icon {
    height: 1.5rem;
    fill: white;
    text-decoration: none;
}

.footer-container {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;


    .footer-section {
        width: 50%;

        h4 {
            padding-bottom: 0.5rem;
        }

        a {
            text-decoration: none;
        }

        .footer-text {
            font-size: 2rem;
        }
    }

    .hashtag-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .hashtag-item {
            width: 50%;
        }
    }

    hr {
        margin: 0.5rem 0;
    }
}

@media(max-width: 1280px){

}

@media(max-width: 1024px) {

}

@media(max-width: 840px){
    .footer-container {
        display: block;

        .footer-section {
            margin-top: 2rem;
            width: 100%;
        }
    }

}

