@-webkit-keyframes moveLeft {
    0% { transform: translateX(); }
    100% { transform: translateX(-16px);}
}
.header-container{
    position: fixed;
    background-color: #111;
    background-color: #28282B;
    width: 100%;
    top: 0;
    box-shadow: 0.5rem 0.5rem 0.5rem black;

    padding: 1.5rem 0;
    //border-bottom: 1px solid white;

    font-family: "Darker Grotesque", sans-serif;

    .icon-back {
        height: 4rem;
        width: 2.5rem;
        fill: white;
    }

    .icon-target:hover {
        //animation-name: moveLeft;
        //animation-duration: 1s;
        //transition-timing-function: ease-in-out;

        .icon-back {
            transition: all 0.6s ease-in-out;
            //transform: scale(1.05);
            transform: translateX(-1rem);
        }
    }

    .icon-target {
        left: 0;
        border-bottom: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-decoration: none;
        padding-left: 18%;
    }

    .text-back {
        color: white;
        font-size: 3rem;
        //line-height: 4rem;
        //height: 4rem;
        padding-top: 0.25rem;
        padding-left: 0.25rem;
    }
}


@media(max-width: 1600px){

    .header-container {
        .icon-target {
            padding-left: 10%;
        }
    }
}

@media(max-width: 1280px){

 
}

@media(max-width: 1024px){


}

@media(max-width: 840px){

    .header-container{

        padding: 1.25rem 0;
    
        .icon-back {
            height: 3rem;
            width: 2rem;
        }

        .icon-target:hover {

            .icon-back {
                transform: translateX(-0.5rem);
            }
    
        }

        .text-back {
            font-size: 2rem;
            padding-top: 0.25rem;
        }
    }
}

@media(max-width: 600px){
    .header-container {
        .icon-target {
            padding-left: 1rem;
        }
    }
}

