.header-container{


}




/* Strikethrough hover pen by tsimenis on Codepen */
.strike, .strike-name {
    span {
        position: relative;
        cursor: pointer;
    }

    span:before, span:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        margin-top: -0.5px;
        background: white;
    }

    span:before {
        left: 0px;
    }

    span:after {
        right: 0px;
        background: white;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:before {
        background: white;
        width: 100%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
    }
}

.strike-name {
  span:before, span:after {
      top: 100%;
  }
}

.strike {
  span:before, span:after {
    top: 120%;
  }
}

@media(max-width: 1600px){

}

@media(max-width: 1280px){

 
}

@media(max-width: 1024px){


}

@media(max-width: 840px){


}

@media(max-width: 600px){

}

