body {
    background-color: #111;
    color: white;
    font-family: 'Montaga', serif;
    min-height: 600px;
}


.page-container{

    margin: 0 18%;
    //padding: 0 2%;
    //font-family: 'Monserrat', sans-serif;
    font-family: "Darker Grotesque", sans-serif;
    //max-width: 60rem;



    h1 {
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 4rem;
        margin-bottom: 1rem;
        font-family: 'Montaga', serif;
    }

    h2 {
        font-weight: 600;
        font-size: 4rem;
        line-height: 5rem;
        padding-right: 2rem;


    }

    h3 {
        font-weight: 200;
        font-size: 1.6rem;
        line-height: 2rem;

    }

    h4 {
        font-weight: 300;
        font-size: 1.4rem;
        padding-bottom: 2rem;
        line-height: 1.8;
        color: #dddddd;
    }

    h5 {
        font-weight: 500;
        font-size: 1.4rem;
        color: #dddddd;
        line-height: 1.5;
     
    }

    h6 {
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 1.8;
    }

    p {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 2;
    }

    a {
        color: #FCE21C;
        text-decoration: none;
        border-bottom: 0.0625rem solid #FCE21C;;
        padding-bottom: 0.15rem;
    }

    a:hover {
        border-bottom: none;
    }


}

@media(max-width: 1600px){
    .page-container {
        margin: 0 10%;
    }

}

@media(max-width: 1280px){
}

@media(max-width: 1024px){

    .page-container {

        h2 {
            font-size: 3rem;
            line-height: 3.5rem;
        }

    }

}

@media(max-width: 840px){
    .page-container {      
        
        h1 {
            padding-right: 0;
        }


        h2 {
            font-size: 2.5rem;
        }
    }
}

@media(max-width: 600px){
    .page-container {       
        margin: 0 1rem;
    }
}
